 <nav class="navbar">
   
    <img src="/assets/images/logo.png"  width="100" height="50">
    <form class="form-inline">
    <a href="#about"><button  type="button"  class="btn btn-link"  style="color: white;">About</button></a>
    <a href="#foodCatagory" ><button  type="button"  class="btn btn-link"  style="color: white;">Food Category</button></a>
    <a href="#contact" ><button  type="button"  class="btn btn-link"  style="color: white;">Contact Us</button></a>
    <a class="pointer" (click)="Logout()" style="color: white;">Logout</a>
  </form>
  </nav> 
