 <nav class="navbar">
   
    <img src="/assets/images/logo.png"  width="100" height="50">
    <form class="form-inline">
    <!-- <a href="#about"><button  type="button"  class="btn btn-link"  style="color: white;">About</button></a> -->
    <a [routerLink]="['/food/food-list/all']"><button  type="button"  class="btn btn-link"  style="color: white;">Food Category</button></a>
    <!-- <a href="#contact" ><button  type="button"  class="btn btn-link"  style="color: white;">Contact Us</button></a> -->
    <a [routerLink]="['/food/cart']" ><button  type="button"  class="btn btn-link"  style="color: white;">Cart</button></a>
    <!-- <a [routerLink]="['/food/cart']" style="color: white" class="p1 fa-stack fa-2x has-badge" data-count="4">
      <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse" data-count="4b"></i>
    </a> -->
    <a class="pointer" (click)="Logout()" style="color: white;">Logout</a>
  </form>
  </nav> 
