.content{
    float: left;
    padding-left: 55px;
}
.desc{
    //padding-left: 220px;
    //padding-top: 1000px;
    //float: left;
   // top:0;
}

p{
text-align: right;
}
.button2 {background-color:#4CAF50;}

.col-md-8{
    padding-left: 180px;
}

