<carousel [noPause]="false">
        <div class="content" *ngFor="let i of details">
        <slide>
            <h1 style="text-align:center">{{i.name}}</h1>
            <br>
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-5" >
                
                  <img src={{i.img}} alt="First slide" style="display: block; width:500px; height: 300px; ">
                
                 <br>
                  <p>₹{{i.price}}/- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="button2">Add to Cart</button></p>
                  
                  
                
                </div>
              <div class="col-md-7">
                  <h4 class="desc">{{i.description}}</h4>
                 
                
              </div>
            </div>
          </div>
        
        </slide>
        </div>
        </carousel>
        
        
        
                    
                 
        
                    
              
                  
                  
        
          
             
                <!-- <slide>
                  <img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2019/01/22/file6yzpbem5tnmav27sk75-1548099001.jpg?itok=WVgTE0Ty" alt="Second slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    
                  </div>
                </slide>
                <slide>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR7epBr-bCkWq4hESugQZSxXgpD-kAnwjz_P2OMCgY_f4-M1NCkg&s" alt="Third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    </div>
                </slide> -->
             
                    
          <!-- <h1>Dosa</h1>
          <p class="price">$5</p>
          <p>A dosa is a cooked flat thin layered rice batter, originating from South India, made from a fermented batter. It is somewhat similar to a crepe in appearance. Its main ingredients are rice and black gram ground together in a fine, smooth batter with a dash of salt. Dosas are a typical part of the Southern Indian and Sri Lankan Tamil diets, but the dish is now popular all over the Indian subcontinent. Traditionally, dosas are served hot along with sambar and chutney. They can be consumed with idli podi as well.</p> -->
        
        
        