<div class="wrap1">

        <div class="container">
      
      
          <div class="main-title" style="text-align: center;">
            <h1 style="color:white">{{food.name}}</h1><br>
          </div>
      
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
            <i class="fas fa-search" aria-hidden="true"></i>
            <input [(ngModel)]="search" (ngModelChange)="searchVendor(search)" name="sName" type="search"
              class="form-control mr-sm-2" type="search" placeholder="Search: Iteam Name / Rate " aria-label="Search">
      
            <button (click)="searchVendor(searchstring)" class="btn btn-outline-success my-2 my-sm-0"
              type="submit">Search</button>
          </nav>
          <br>
      
          <!-- <div class="row mgn-btm wow"> -->
            <span>
      
         
              <div>
                <div *ngFor="let food of foodlist | async" class="content">
                  <form class="login-form" action="">
                    <div class="form-header">
                      <ul>
                        <img src="assets/images/{{food.imageUrl}}" style=" border-radius: 50%" width="200" height="150">
                        <h4>{{food.name}}</h4>
                        <p>₹{{food.unitPrice}}/- </p>
                        <p><button class="cart-button" (click)="addTocart(food)">Add to Cart</button></p>
                        <a [routerLink]="['/food/details', food._id]"  >View details</a>
                      </ul>
                    </div>
                  </form>
                </div>
              </div>
            </span>
          <!-- </div> -->
        </div>
      </div>