<div class="bgimg">
    
         


          <div class="row">
                <div class="col-md-8">
                <div class="card1">

                        <h1 style="color:white;">Food Cart</h1>
                        <!-- <div class="shopping-cart"> -->
                        <div class="bgform">
                          <div class="column-labels">
                            <!-- <label class="product-image">Image</label> -->
                            <label class="product-details">Product</label>
                            <label class="product-price">Price</label>
                            <label class="product-quantity">Quantity</label>
                            <label class="product-removal">Remove</label>
                            <!-- <label class="product-line-price">Total</label> -->
                          </div>
                        
          <div class="product" *ngFor="let product of items">
                          <div class="product">
                            <!-- <div class="product-image">
                              <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
                            </div> -->
                            <div class="product-details">
                              <div class="product-title">{{product.name}}</div>
                              <!-- <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p> -->
                            </div>
                            <div class="product-price">{{product.unitPrice}}</div>
                            <div class="product-quantity">
                                <input type="text" class="count-input" value="{{product.qty}}">

                                <button (click)="addTocart(product)" type="button" class="add-i-b valup">+</button>
                  
                                <button (click)="decrease(product)" type="button" class="add-i-b valup">-</button>
                            </div>
                            
                            <div class="product-removal">
                                <button class="remove-product" (click)="deleteitem(product.name)">
                                Remove
                              </button>
                            </div>

                          </div>
                          
                            <div class="product-line-price"></div>
                          </div>
                        
                        
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card2" >
                                <div class="bgcheckout">
                                <div class="totals">
                                 
                                 <div class="totals-item totals-item-total">
                                   <label>Grand Total</label>
                                   <div class="totals-value" id="cart-total">{{subtotal}}</div>
                                  </div>
                               </div>
                                   
                                   <button class="checkout">Checkout</button>
                                </div>
                         </div>   
                        </div> 
              </div>
              

<!-- </div> -->
</div>
